grant {
// To allow file access, use following policy file entry.
permission java.io.FilePermission "<<ALL FILES>>", "read";
// Students can connect to other server.
permission java.net.SocketPermission "*", "connect";
//
// Use following java option to activate java policy file.
// -Djava.security.policy=Z:\workspace\javaep\WEB-INF\conf\java.policy
//
// Students can read/write their own directory.
permission java.io.FilePermission "./*", "read,write";
// Students can connect to other server.
permission java.net.SocketPermission "*:80", "connect,resolve";
};
